<br><h4><%= link_to 'マニフェスト一覧', '/users/manifests' %></h4>
<h3>投票したマニフェスト</h3>
<% @votes.each do |vote| %>
	<% show_voting_history(vote['public_manifest_id']) %>
	<% @voting_histories.each do |voting_history| %>
		【title】<%= voting_history[0] %>:
		【content】<%= voting_history[1] %><br>
		&nbsp;&nbsp;&nbsp;&nbsp;このマニフェストに対する自分の主張 → 
		<% show_voting_claim(vote['user_id'], vote['public_manifest_id']) %>
		<% if @claims[1] == 1 %>
			<%= '【賛成】' %>
		<% elsif @claims[1] == -1  %>
			<%= '【反対】' %>
		<% elsif @claims[1] == 0 %>
			<%= '【中立】' %>
		<% end %>
		<%= @claims[0] %>
	<%= link_to "edit", "/users/manifests/#{vote['public_manifest_id']}" %>
	<%= link_to "delete", "/users/manifests/vote_info/#{vote['id']}", :method=>:delete %>
		<br><br>
	<% end %>
<% end %>